<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="/xadmin/css/font.css">
    <link rel="stylesheet" href="/xadmin/css/xadmin.css">
    <script src="/xadmin/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/xadmin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <blockquote class="layui-elem-quote">
                        <span style="font:normal bold 30px 'STSong'">欢迎进入LuckyMall后台管理系统</span>
                        <span style="position: relative;top: -20px;margin-left: 200px;">
                             <embed wmode="transparent"
                                    src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.swf"
                                    quality="high" bgcolor="green" width="250" height="100" name="honehoneclock"
                                    align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"
                                    pluginspage="http://www.macromedia.com/go/getflashplayer"
                                    title="Adobe Flash Player">
                        </span>
                    </blockquote>
                </div>
            </div>
        </div>

        <!--数据统计-->
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据统计</div>
                <div class="layui-card-body ">
                    <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>会员数</h3>
                                <p>
                                    <cite th:text="${list.get(0)}">66</cite>
                                </p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>订单数</h3>
                                <p>
                                    <cite th:text="${list.get(1)}">12</cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>商品数</h3>
                                <p>
                                    <cite th:text="${list.get(2)}">99</cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>商品类别数</h3>
                                <p>
                                    <cite th:text="${list.get(3)}">67</cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>积分记录数</h3>
                                <p>
                                    <cite th:text="${list.get(4)}">67</cite></p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6 ">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>管理员数</h3>
                                <p>
                                    <cite th:text="${list.get(5)}">6766</cite></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--数据统计图-->
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据统计图</div>
                <div class="layui-card-body ">
                    <!-- 图表容器 DOM -->
                    <div id="container" style="width: 100%;height:400px;"></div>
                    <!-- 引入 highcharts.js -->
                    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
                    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts-3d.js"></script>
                    <script th:inline="javascript">
                        // 图表配置
                        var options = {
                            "xAxis": [
                                {
                                    "type": "category",
                                    "categories": [
                                        "会员数",
                                        "订单数",
                                        "商品数",
                                        "商品类别数",
                                        "积分记录数",
                                        "管理员数"
                                    ],
                                    "index": 0,
                                    "isX": true
                                }
                            ],
                            "series": [
                                {
                                    "name": "数据统计",
                                    "data": [
                                        30,
                                        24,
                                        50,
                                        4,
                                        45,
                                        3
                                    ],
                                    "_colorIndex": 0
                                }
                            ],
                            "yAxis": [
                                {
                                    "title": {
                                        "text": "数量",
                                        "style": {
                                            "fontFamily": "\"微软雅黑\", Arial, Helvetica, sans-serif",
                                            "color": "#666666",
                                            "fontSize": "16px",
                                            "fontWeight": "bold",
                                            "fontStyle": "normal"
                                        }
                                    },
                                    "index": 0,
                                    "type": "linear",
                                    "reversed": false,
                                    "opposite": false,
                                    "labels": {
                                        "format": "{value}"
                                    }
                                }
                            ],
                            "chart": {
                                "style": {
                                    "fontFamily": "\"宋体\", Arial, Helvetica, sans-serif",
                                    "color": "#333",
                                    "fontSize": "14px",
                                    "fontWeight": "bold",
                                    "fontStyle": "normal"
                                },
                                "type": "column",
                                "margin": 75,
                                "options3d": {
                                    "enabled": true,
                                    "alpha": 15,
                                    "beta": 0,
                                    "depth": 100,
                                    "viewDistance": 25
                                },
                                "polar": false
                            },
                            "title": {
                                "text": "数据统计",
                                "style": {
                                    "fontFamily": "\"微软雅黑\", Arial, Helvetica, sans-serif",
                                    "color": "#333333",
                                    "fontSize": "22px",
                                    "fontWeight": "bold",
                                    "fontStyle": "normal",
                                    "fill": "#333333",
                                    "width": "565px"
                                }
                            },
                            "subtitle": {
                                "text": "",
                                "style": "{\"color\": \"#666666\", \"fontSize\": \"12px\" }"
                            },
                            "tooltip": {
                                "headerFormat": "<span style=\"color:{series.color};font-size:14px\">{point.key}</span><table>",
                                "pointFormat": "<tr><td style=\"padding:0\">{series.name}：</td><td style=\"padding:0\"><b>{point.y} </b></td></tr>",
                                "footerFormat": "</table>",
                                "useHTML": true,
                                "shared": true
                            },
                            "plotOptions": {
                                "column": {
                                    "depth": 25
                                },
                                "series": {
                                    "animation": false
                                }
                            }
                        }
                        // 图表初始化函数
                        var chart = Highcharts.chart('container', options);
                        // 数据填充
                        var list = [[${list}]];
                        chart.series[0].setData(list);
                    </script>
                </div>
            </div>
        </div>

        <style id="welcome_style"></style>
    </div>
</div>
</div>
</body>
</html>